<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>To Do List</title>
</head>
<body>
    <div class="container">
        <h1>To Do List</h1>
        <!--list all the user inputed data -->
        {% if tasks is not empty %}
            <p> here are all your tasks: </p>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.getDescription }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/tasks' method='post'>
            <label for='description'>Task Description</label>
            <input id='description' name='description' type='text'>

            <button class="btn btn-success" type='submit'>Add task</button>
        </form>
        <form action='/delete_tasks' method='post'>
            <button class="btn btn-success" type='submit'>Clear</button>
        </form>
    </div>

</body>
</html>
